#nav_panel
{
    width: 130px;
    height: 100%;
    margin-top: 40px;
    background-color: #303030;
    color: #ffffff;
    position: fixed;
}

.nav_bar_button
{
    width: 100%;
    text-align: center;
}

#nav_panel a,
#nav_panel a:link
{
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
}

#nav_panel a:hover
{
    color: #ffffff;
    background-color: #dd7600;
    font-weight: bold;
}