.section
{
    margin-bottom: 10px;
    float: left;
}

.section_left
{
    width: 200px;
    height: 100%;
    float: left;
}

.section_name
{
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.section_right
{
    width: calc(100% - 250px);
    height: 100%;
    float: right;
}

.section_title
{
    width: 100%;
}
/*
.section input[type=submit]
{
    margin: 20px 20px 20px 0;
    padding: 15px 10px;
    float: left;
}

.section input[type=text],
.section input[type=password],
.section input[type=email]
{
    width: 90%;
    margin: 5px 0;
} */