.section
{
    margin-bottom: 10px;
    float: left;
}

.section_left
{
    width: 250px;
    height: 100%;
    margin-bottom: 10px;
    float: left;
}

.section_right
{
    width: calc(100% - 250px);
    height: 100%;
    margin-bottom: 10px;
    float: right;
}

.section_name
{
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.section_title { width: 100%; }
.section_submit { clear: both; }