#top_bar
{
    width: 100%;
    height: 40px;
    background-color: #303030;
    color: #ffffff;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 20px;
}

#top_bar a,
#top_bar a:link,
#top_bar a:visited,
#top_bar a:active
{
    text-decoration: none;
    color: #ffffff;
}

#top_bar a:hover
{
    color: #dd7600;
}

#top_bar_time
{
    float: left;
}

#top_bar_user, #top_bar_logout
{
    vertical-align: middle;
    float: right;
    padding: 0 10px;
}