.button
{
    height: 15px;
    margin: 32.5px 40px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 100px;
    position: relative;
    will-change: transform;
    transition: all 500ms ease-in-out;
}

footer .button
{
    width: 30px;
    height: 30px;
    font-size: 0;
    margin: 30px auto;
}

#nav_vertical_panel .button
{
    width: 200px;
    height: 20px;
    font-size: 20px;
    margin: 50px auto;
    display: inline-block;
}

.button:hover
{
    transform: translateY(-5px);
}

#slide_horizontal_panel .button:hover,
#nav_vertical_panel .button:hover
{
    color: hsl(210, 100%, 74%);
}

.button::after
{
    content: "";
    background-color: rgb(0, 0, 0);
    width: 10px;
    height: 1px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: translateY(5px);
    transition: 0.5s ease-in-out;
}

#nav_horizontal_panel .button::after
{
    background-color: rgb(255, 234, 234);
}

.button:hover::after
{
    width: 100%;
}

#slide_horizontal_panel .button:hover::after,
#nav_vertical_panel .button:hover::after
{
    background-color: hsl(210, 100%, 74%);
}

@media(max-width: 1000px)
{
    .button { display: none; }
    #nav_vertical_panel .button, footer .button { display: block; }
    #nav_vertical_panel .button
    {
        margin: 40px auto;
    }
}