:root
{
    --clock-face-bg: #fff;
    --clock-seconds: hsl(10, 100%, 50%);
    --clock-minutes: hsl(230, 90%, 45%);
    --clock-hours: hsl(230, 90%, 45%);
    --clock-circle: #303030;
}

#analog_clock
{
	width: 300px;
	height: 300px;
	background-color: var(--clock-face-bg);
	border-radius: 150px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	position: absolute;
}

.bg_circle
{
    width: 30px;
    height: 30px;
    background-color: var(--clock-circle);
    border-radius: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 1;
}

.face_line
{
  width: 1px;
  height: 290px;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  position: absolute;
  background-color: #000;
}

.deg_30 { transform: rotate(30deg); }
.deg_60 { transform: rotate(60deg); }
.deg_90 { transform: rotate(90deg); }
.deg_120 { transform: rotate(120deg); }
.deg_150 { transform: rotate(150deg); }

.clock_face_bg
{
	width: 270px;
	height: 270px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 135px;
	background-color: var(--clock-face-bg);
	position: absolute;
}

#analog_clock .second_indicator
{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 140px solid var(--clock-seconds);
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
  	animation-duration: 60s;
}

#analog_clock .minute_indicator
{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 110px solid var(--clock-minutes);
	top: 40px;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 10px;
	position: absolute;
  animation-duration: 3600s;
}

#analog_clock .hour_indicator
{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 80px solid var(--clock-hours);
	top: 70px;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 10px;
	position: absolute;
  animation-duration: 43200s;
}

.animation
{
  animation-name: rotate_animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom center;
}

@keyframes rotate_animation
{
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

@media(max-width: 1000px)
{
	#analog_clock { transform: scale(.5); }
}

@media(max-width: 420px)
{
	#analog_clock { transform: scale(.2); }
}