header
{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    box-sizing: border-box;
    position: relative;
}

.header_content
{
    width: calc(100% - 100px);
    height: 60px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.header_item_1{ display: block; }
.header_item_2, .header_item_3 { display: none; }

.button_left_arrow
{
    width: 30px;
    height: 30px;
    margin: 25% 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60px;
    right: 0;
    margin: auto;
    margin-left: 20px;
    transition: all .2s ease-in-out;
}

.button_left_arrow:hover
{
    transform: translateX(-5px);
}

.button_left_arrow img
{
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.button_right_arrow
{
    width: 30px;
    height: 30px;
    margin: calc(25% + 25px) 20px;
    border-radius: 100px;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: -60px;
    margin: auto;
    margin-right: 20px;
    transition: all .2s ease-in-out;
}

.button_right_arrow:hover
{
    transform: translateX(5px);
}

.button_right_arrow img
{
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

@media(max-width: 1000px)
{
    .header_content
    {
        font-size: 30px;
    }
}