/* a, a:link, a:visited, a:focus
{
    padding: 5px 30px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 100px;
    transition: 0.5s;
}

a:hover
{
    background-color: #ffffff;
    color: #000000;
} */