@media(max-width: 1300px)
{
    .welcone_content_title
    {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        display: block;
    }

    #welcone_content_image
    {
        width: 600px;
        height: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #section_01, #section_02, #section_03
    {
        margin: 50px;
    }
}