nav#nav_horizontal_panel
{
    width: 100%;
    height: 80px;
    opacity: 0;
}

nav#nav_vertical_panel
{
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #404040;
    color: #ffffff;
    position: fixed;
    display: none;
    box-shadow: 0px 100px 61px -100px #000 inset;
    -webkit-box-shadow: 0px 100px 61px -100px #000 inset;
    -moz-box-shadow: 0px 100px 61px -100px #000 inset;
    /* box-shadow: 0px 100px 61px -100px #000 inset, 0px 10px 50px 23px #000;
    -webkit-box-shadow: 0px 100px 61px -100px #000 inset, 0px 10px 50px 23px #000;
    -moz-box-shadow: 0px 100px 61px -100px #000 inset, 0px 10px 50px 23px #000; */
}

nav#slide_horizontal_panel
{
    top: -80;
    width: calc(100% - 20px);
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.5s;
    position: fixed;
}

.nav_vertical_button
{
    width: 100%;
    text-align: center;
    float: left;
    padding: 10px 0;
    text-decoration: none;
    color: #ffffff;
    display: block;
}

.nav_vertical_button:hover
{
    color: #000000;
    background-color: #dcdcdc;
    font-weight: bold;
}

.nav_button_light
{
    height: 20px;
    margin: 20px 5px;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 100px;
    transition: 0.5s;
}

.nav_button_light:hover
{
    background-color: #ffffff;
    color: #000000;
}

.nav_button_dark
{
    height: 20px;
    margin: 20px 5px;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 100px;
    transition: 0.5s;
}

.nav_button_dark:hover
{
    background-color: #202020;
    color: #fff;
}

#nav_logo
{
    height: 40px;
    margin: 10px 10px;
    padding: 10px 20px;
    font-size: 35px;
    border-radius: 100px;
    color: #ffffff;
    transition: 0.5s;
    text-decoration: none;
    display: block;
}

#nav_logo:hover
{
    background-color: #ffffff;
    color: #000000;
}

#slide_nav_logo
{
    height: 40px;
    margin: 10px 10px;
    padding: 10px 20px;
    font-size: 35px;
    border-radius: 100px;
    color: #000;
    transition: 0.5s;
    text-decoration: none;
    display: block;
}

#slide_nav_logo:hover
{
    background-color: #202020;
    color: #fff;
}

.slide_menu_button
{
    display: none;
}

@media(max-width: 1200px)
{
    .nav_button_light, .nav_button_dark
    {
        display: none;
    }

    .slide_menu_button
    {
        width: 50px;
        height: 50px;
        margin: 15px;
        float: left;
        display: block;
    }
}