.bg_00          { background: linear-gradient(35deg, hsl(210, 100%, 50%) 12%, hsl(210, 100%, 74%) 71%); }
.bg_01          { background: linear-gradient(35deg, hsl(110, 100%, 50%) 12%, hsl(110, 100%, 74%) 71%); }
.bg_02          { background: linear-gradient(35deg, hsl(10, 100%, 50%) 12%, hsl(10, 100%, 74%) 71%); }
.bg_03          { background: linear-gradient(35deg, hsl(370, 100%, 50%) 12%, hsl(370, 100%, 74%) 71%); }
.left           { float: left; }
.right          { float: right; }
.clear_b        { clear: both; }
.text_left      { text-align: left; }
.text_right     { text-align: right; }
.text_center    { text-align: center; }
.text_just      { text-align: justify; }